<div class="container  mt-3">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="name" id="productName"
                 placeholder="Product Name">
          <label for="productName">Product Name</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating">
          <input type="number" class="form-control" formControlName="price" placeholder="Price">
          <label>Price</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating">
          <input type="number" class="form-control" formControlName="quantity" placeholder="Price">
          <label>Quantity</label>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Write Product Description" formControlName="quantity"
                  style="height: 100px"></textarea>
        <label>Description</label>
      </div>
    </div>
    <div class="container text-center mb-5">
      <button type="submit" class="btn btn-dark mt-2">
        Update Product
      </button>
    </div>
  </form>
</div>