.jumbotron{
    color: white;
    text-align: center;
    padding: 50px;
}

.lead{
    color: rgb(127, 238, 240);}

th{
    font-size: 18px;
  letter-spacing: 2px;

}

td{
    font-size: 18px;
    font-weight: 400;
   
}
button{
   font-weight: 500;
 }

 #addBtn{
font-size: 17px;

 }